version: "3.10"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    volumes:
      - .:/code

    environment:
      FLASK_DEBUG: "true"
networks:
  default:
    external:
      name: nostradamus-network